// Base colors
$black: #000000;
$red: #E93E30;
$yellow: #F7E018;
$light-blue: #299ED5;
$grey: #292C33;
$light-grey: #D9D9D9;
$green: #67C770;
$purple: #563D7C;
$white: #ffffff;

$horizontal-post-height: 8rem;
$border-rounded: 8px;

//Variable que añade espacio de forma vertical y horizontal en tamaño full
$horizontal-space-full-width: 8rem;
$vertical-space-full-height: 2rem;
